/* max-width: 920px */

@media (max-width: 920px) {
  .section1 {
    height: 50vh;
  }

  .section1 .content1 {
    margin-left: 45px;
  }

  /* section2 - about */

  .section2 {
    flex-direction: column;
  }

  .section2 .left {
    width: 100%;
    height: 50vh;
    margin-bottom: 2rem;
  }

  .section2 .right {
    width: 100%;
  }

  /* section3 - services */

  .section3 .features {
    grid-template-columns: repeat(2, 1fr);
  }

  .section3 .features .read-more {
    left: -85px;
    min-width: 320px;
  }

  /* section4 - membership */

  .section4 .lcr {
    flex-direction: column;
  }

  .section4 .lcr .left {
    width: 75%;
    margin: 0 auto 2rem;
  }

  .section4 .lcr .center {
    width: 75%;
    margin: 0 auto 2rem;
  }

  .section4 .lcr .right {
    width: 75%;
    margin: 0 auto;
  }

  footer h2 {
    text-align: center;
  }
}

/* max-width: 540px */

@media (max-width: 540px) {
  .section3 .features {
    grid-template-columns: repeat(1, 1fr);
  }

  .s5-content {
    flex-direction: column;
  }

  .me {
    margin: 0 14.4rem 0.5rem 0;
  }

  .name {
    margin-right: 0rem;
  }

  .m {
    width: 95%;
    height: 7.5rem;
    margin-right: 1rem;
  }

  .sub-btn {
    width: 30vw;
  }

  footer .left {
    display: none;
  }

  footer .right {
    display: none;
  }
}

/* max-width: 440px */

@media (max-width: 440px) {
  .navbar {
    padding: 0 35px;
  }

  .nav-menu {
    gap: 5px;
  }

  .section1 {
    height: 40vh;
    margin-bottom: 2rem;
  }

  .section1 .content1 {
    margin-left: 35px;
  }

  .section1 .content1 h4 {
    letter-spacing: 2px;
  }

  .section1 .content1 h1 {
    font-size: 2rem;
  }

  /* secttion2 - about */

  .section2 {
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .section2 .left {
    width: 100%;
    height: 35vh;
  }

  .section2 .right {
    width: 100%;
    margin-top: 1.5rem;
  }

  .section2 .right p {
    margin-bottom: 2px;
    margin-left: -5px;
    padding: 10px 20px;
    text-align: justify;
    letter-spacing: 1px;
  }

  .more {
    margin-top: 10px;
  }

  /*section3 - services */

  .section3 {
    margin-bottom: 2rem;
  }

  .section3 .features .box p {
    padding: 0 35px;
    margin-bottom: 5px;
  }

  .section3 .features .read-more {
    left: -85px;
    min-width: 320px;
  }

  .section4 h1 {
    margin-bottom: 2rem;
  }

  .section3 .features {
    grid-template-columns: repeat(1, 1fr);
  }

  .section3 .features .box {
    height: 300px;
  }

  /*section4 - membership */

  .section4 .lcr {
    flex-direction: column;
  }

  .section4 .lcr .left {
    width: 90%;
    margin-bottom: 15px;
  }

  .section4 .lcr .center {
    width: 90%;
    margin-bottom: 15px;
  }

  .section4 .lcr .right {
    width: 90%;
  }

  /*section - contact */

  .section5 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .section5 h1 {
    margin-bottom: 2rem;
  }

  .s5-content {
    flex-direction: column;
    margin: 0 auto 0;
    /* margin-left: 11rem; */
  }

  .name,
  .email,
  .msg {
    margin-left: 0rem;
  }

  .name {
    margin-right: 0rem;
  }

  .na.name {
    margin-left: 0px;
  }

  .me {
    margin: 0 14.4rem 0.5rem 0;
    font-size: 1rem;
  }

  .m {
    margin: 0 0 1.5rem;
    height: 7.5rem;
    width: 100%;
  }

  .na,
  .em {
    font-size: 1rem;
  }

  .n,
  .e {
    width: 19rem;
    margin-bottom: 0.5rem;
  }

  .sub-btn {
    width: 35vw;
  }

  /* footer */

  footer {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  footer .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    display: none;
  }

  footer .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  footer .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    /* margin-bottom: 10px; */
  }
}

/* max-width: 380px */

@media (max-width: 380px) {
  .section1 .content1 {
    margin-left: 20px;
  }

  .section1 .content1 h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 280px) {
  .section3 .features .box p {
    padding: 0 20px;
  }

  .section3 .features .read-more {
    left: -45px;
    min-width: 240px;
  }

  .section3 .features .dropdown h6 {
    padding: 10px 30px 0;
  }

  .me {
    margin: 0 8.4rem 0.5rem 0;
  }

  .n,
  .e {
    width: 14rem;
  }

  .btn-co {
    width: 50%;
  }

  .sub-btn {
    width: 50vw;
  }
}
