@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:wght@700&family=Space+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #262626;
}

/* navbar */

header {
  background-color: #262626;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  font-family: "Rubik", sans-serif;
}

.logo {
  font-size: 2.4rem;
  font-family: "Mouse Memoirs", sans-serif;
}

.l-n {
  /* color: #FFE042; */
  color: #f96167;
  /* color: #fce77d;
    color: #f9d342;
    color: #ccf381; */
}

.nav-link {
  font-size: 1.1rem;
  transition: 0.7s ease;
}

.nav-link:hover {
  color: #f96167;
}

.humburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* responsive humburger */

@media (max-width: 860px) {
  .humburger {
    display: block;
  }

  .humburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .humburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .humburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: absolute;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

/* section1 */

.section1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)),
    url(../images/gym_img1.jpeg);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.section1 .content1 {
  margin-left: 70px;
}

.section1 .content1 h4 {
  color: white;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.section1 .content1 h4 span {
  color: #f96167;
}

.section1 .content1 h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
}

.section1 a {
  /* text-decoration: none; */
  margin-bottom: 20px;
}

/* button */
.btn {
  padding: 6px 25px;
  font-size: 1.1rem;
  border-bottom-right-radius: 20px;
  font-family: "Poppins", sans-serif;
  border-color: #f96167;
  background-color: #f96167;
  background-color: #f96167;
  color: white;
  font-family: "Space Mono", monospace;
}

.btn:hover {
  color: white;
  background-color: #f96167;
  border: 2px solid white;
  transition: 0.7s;
  cursor: pointer;
}

/* section2 - about */

.section2 {
  display: flex;
  width: 90%;
  margin: 0 auto 4rem;
  justify-content: space-evenly;
}

.section2 .left {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/gym_img2.jpg);
  width: 45%;
  height: 70vh;
  background-size: cover;
}

.section2 .right {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.section2 .right h1 {
  color: #f96167;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.section2 .right h1 span {
  align-items: center;
  border-bottom: 2px solid #f96167;
  padding-bottom: 3px;
}

.section2 .right p {
  margin-bottom: 15px;
  margin-left: 40px;
  color: white;
  letter-spacing: 1px;
  padding: 10px;
  text-align: justify;
  font-family: "Rubik", sans-serif;
}

.section2 .right .p-heading {
  margin-bottom: -10px;
  font-family: "Poppins", sans-serif;
}

.section2 .right a {
  margin: 0 auto;
  margin-top: 20px;
}

.section2 .right .time {
  color: #f96167;
}

.section2 .right .dropdown {
  position: relative;
  width: 151px;
  margin: 20px auto 0;
}

.section2 .right .read-more {
  display: none;
  position: absolute;
  background-color: #262626;
  color: white;
  border: 2px solid #f96167;
  min-height: 160px;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .read-more {
  display: block;
}

/* section3 - features */

.section3 {
  margin-bottom: 4rem;
}

.section3 h1 {
  text-align: center;
  color: #f96167;
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
}

.section3 h1 span {
  border-bottom: 2px solid #f96167;
  padding-bottom: 3px;
}

.section3 .features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  width: 85%;
  margin: auto;
}

.section3 .features .box {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section3 .features .box h2 {
  /* text-align: center; */
  font-family: "Poppins", sans-serif;
  color: #f96167;
  margin-bottom: 15px;
}

.section3 .features .box p {
  color: white;
  letter-spacing: 1px;
  padding: 0 60px;
  margin-bottom: 20px;
  text-align: justify;
  font-family: "Rubik", sans-serif;
  line-height: 1.3;
}

.section3 .features .box1 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/gym_img4.webp);
  background-size: cover;
}

.section3 .features .box2 {
  background-color: rgb(55, 54, 54);
}

.section3 .features .box3 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/gym_wl.jpg);
  background-size: cover;
}

.section3 .features .box4 {
  background-color: rgb(55, 54, 54);
}

.section3 .features .box5 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/gym_yoga.jpg);
  background-size: cover;
}

.section3 .features .box6 {
  background-color: rgb(55, 54, 54);
}

.section3 .features .dropdown {
  position: relative;
  width: 151px;
  margin: 20px auto 0;
}

.section3 .features .dropdown h6 {
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 10px 60px 0;
  margin-bottom: 20px;
  text-align: justify;
  font-family: "Rubik", sans-serif;
  line-height: 1.3;
}

.section3 .features .read-more {
  display: none;
  position: absolute;
  background-color: #f47378;
  color: white;
  border: 2px solid rgb(92, 91, 91);
  min-height: 130px;
  padding: 12px 5px;
  top: 50px;
  right: 0;
  left: -136px;
  min-width: 422px;
  z-index: 1;
}

.dropdown:hover .read-more {
  display: block;
}

/* section4 - membership */

.section4 {
  margin-bottom: 4rem;
  font-family: "Poppins", sans-serif;
  width: 90%;
  margin: auto;
}

.section4 h1 {
  text-align: center;
  color: #f96167;
  margin-bottom: 3rem;
}

.section4 h1 span {
  border-bottom: 2px solid #f96167;
  padding-bottom: 3px;
}

.section4 .lcr {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: white;
}

.section4 .lcr .left {
  border: 2px solid #e6ecf8;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.section4 .lcr .left h2,
.section4 .lcr .center h2,
.section4 .lcr .right h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  padding: 8px;
  border-bottom-left-radius: 20vh;
  border-bottom-right-radius: 20vh;
  background-color: #f96167;
}

.section4 .lcr .left h3,
.section4 .lcr .center h3,
.section4 .lcr .right h3 {
  text-align: center;
}

.section4 .lcr .left h4,
.section4 .lcr .center h4,
.section4 .lcr .right h4 {
  text-align: center;
  margin: 16px 0;
}

.section4 .lcr .left ul,
.section4 .lcr .center ul,
.section4 .lcr .right ul {
  text-align: center;
  margin: 10px 0;
  list-style: none;
}

.section4 .lcr .left ul li,
.section4 .lcr .center ul li,
.section4 .lcr .right ul li {
  padding: 6px 0;
}

.section4 .lcr ul li:before {
  content: "✔️";
}

.section4 .lcr a {
  text-align: center;
}

.btn-co {
  width: 40%;
  border: 2px solid #f96167;
  margin: 1rem auto 2rem;
  padding: 10px 0;
  border-radius: 10px;
  color: #f96167;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.btn-co:hover {
  color: white;
  background-color: #f96167;
  border: 2px solid white;
  transition: 0.7s;
  cursor: pointer;
}

.section4 .lcr .center {
  border: 2px solid #e6ecf8;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.section4 .lcr .right {
  border: 2px solid #e6ecf8;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.section4 .lcr .price {
  font-size: 1.7rem;
}

/* section5 - contact us */

.section5 {
  width: 80%;
  margin: 5.5rem auto 5rem;
  margin-bottom: 2rem 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}

.section5 h1 {
  margin-bottom: 3rem;
  color: #f96167;
  font-weight: 500;
  text-align: center;
}

.section5 h1 span {
  border-bottom: 2px solid #f96167;
  padding-bottom: 3px;
}

.s5-content {
  display: flex;
  justify-content: center;
  margin: 0 auto 1rem;
}

.name,
.email,
.msg {
  display: flex;
  flex-direction: column;
}

.name {
  margin-right: 2rem;
}

.na,
.em {
  font-size: 1.5rem;
  color: white;
  font-weight: 100;
  margin: 0 3.4rem 0.5rem 0;
}

.n,
.e {
  border: 2px solid #e6ecf8;
  font-size: 1.3rem;
  height: 3.3rem;
  width: 20rem;
  padding: 0 2rem;
}

.me {
  margin: 0 35.4rem 0.5rem 0;
  font-size: 1.5rem;
  color: white;
  font-weight: 100;
}

.m {
  font-size: 1.3rem;
  padding: 1rem 2rem;
  width: 100%;
  height: 8.5rem;
  margin: 0 auto 2.5rem;
  border: 2px solid #e6ecf8;
}

.button {
  display: flex;
  justify-content: center;
}

.sub-btn {
  width: 13vw;
}

/* footer */

footer {
  display: flex;
  justify-content: space-evenly;
  color: white;
  margin-bottom: 3rem;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

footer h2 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

footer ul li {
  padding: 8px;
}

footer .left ul li a:hover {
  cursor: pointer;
  color: #f96167;
  transition: 0.7s ease;
}

footer .center ul li span {
  color: #f96167;
  font-style: italic;
}

.copy {
  background-color: rgb(55, 54, 54);
  margin-bottom: 2rem;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy h2 {
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-size: 1.1rem;
  font-weight: 200;
}

.copy h2 span {
  color: #f96167;
}
